
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Closure</title>
    <script type="text/javascript">
        function addNumber(FN,SN)
        {
            var stringResult = "The result is : ";
            function add()
            {
                return stringResult + (FN + SN);
            }
            return add();
        }

        var result = addNumber(10, 20);
        document.write(result);


    </script>
</head>
<body>
    <div>
        <input type="button" value="Click me" onclick="" />
    </div>
</body>
</html>
