
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Functions</title>
    <script type="text/javascript">
        function addNumber(firstNumber, secondNumber) {
            return firstNumber + secondNumber;
        };

        var result = addNumber(25, 25);

        document.write(result);
    </script>
</head>
<body>
    <div> 
    </div>
</body>
</html>
